---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      I currently work at Freightify as a Software Solution Engineer in India 🇮🇳.
      <br />
      <br />
      My primary tools and languages of choice includes:
      <ul class="list-inside list-disc">
        <li>Cursor IDE</li>
        <li>Vercel</li>
        <li>NextJS</li>
        <li>React</li>
        <li>TailwindCSS</li>
        <li>JavaScript</li>
        <li>Astro (for this website)</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding and work, I'm passionate about AI, graphic design and traveling. An
      unusual hobby of mine is cycling and discovering new music.
    </p>
  </div>
</Card>
