---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="mb-2 flex w-full items-start justify-between">
    <div class="flex flex-col">
      <h2>AI with Devs</h2>
      <a href="https://aiwithdevs.sahaibsingh.com/" target="_blank">
        <span class="cursor-pointer text-xs text-gray-500">what's that ?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">
    Currently building an is an innovative hub that blends AI and web development, providing developers with tools and insights to enhance productivity and integrate AI seamlessly into their projects.
  </p>
</Card>
