---
import Card from '../Card.astro'
---

<Card 
  colSpan="md:col-span-1" 
  rowSpan="md:row-span-2" 
  title="Services"
  href="/services"
>
  <div class="flex flex-col gap-2">
    <p class="text-sm text-muted-foreground">
      Professional services including:
    </p>
    <ul class="list-disc list-inside text-sm">
      <li>Website Development</li>
      <li>Mobile App Development</li>
      <li>UX/UI Design</li>
      <li>Graphic Design</li>
      <li>Consultation</li>
      <li>Project Management</li>
    </ul>
  </div>
</Card> 